body {
    background-color: #7c96a7;
    text-align: center;
    position: relative;
}

#t {

    align-content: center;
}

#h1 {

    color: #2b388b;
}

#remove{
    display: none;
}
#students {
     display: none;
 }

#addStudents {
    display: none;
}

#teachers {
    display: none;
}

#sections {
    display: none;
}

#error1 {
    color: crimson;
}

#error2 {
    color: crimson;
}

#error3 {
    color: crimson;
}

#add{

    display: none;
}

t, th, td {
    border: 1px black solid;
    border-collapse: separate;
}

#addStu {
     background-color: #9ec7d8;
    border-radius: 50%;
 }

#stuToSec{
    background-color: #9ec7d8;
    border-radius: 50%;
}

#stuFromSec{
    background-color: #9ec7d8;
    border-radius: 50%;
}

#list{
    background-color: #6b8192;
    border: 1px solid #dedfe6;
    color: #bcbcbc;

}
